

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
p {
    padding: 30px;
    margin: 50px;
}


#content {
    max-width: 1600px;
    margin: 50px;
}

nav a{
    text-align:center;
    color:#1C0118;
    text-decoration:none;
    padding: 35px;

}

#background {
    height: 725px;
    background-color: #396E94;
}
nav {
    display: flex;
    justify-content: space-around; 
}
#background {
    height:725px;
    background-color: #96ADC8; 
    grid-column: 1/11;
    grid-row: 4/9;
}



footer {
    background-color:#E7C24F;
    color:#1C0118;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a:hover{
    background-color: #96ADC8;
    color:#FFF;
}
header {
    background-color: #96ADC8;
    display: grid;
    grid-template-columns: 150px auto;
}
body {
    background-color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    margin: 1;
    padding: 0;
}

.logo {
width:80px;
}
.home-title {
    color:#E7C24F;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.icon  {
    border: 10px solid #1C0118;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #264027;
    width: 200px;
    background-color: #96ADC8;
    line-height: 1.5em;
   
    grid-column: 6/10;
    grid-row: 6/7;
    margin-top: 20px;
    margin-left:20px;
    width: 30%;

}

footer {
    padding-top: 15px;
}



.main section img {
    box-sizing: border-box;
}

/*stuffed animals subpage 1*/

.title-stuffedanimals{
    text-align: center;
    }
    .title-stuffedanimals h2 {
        margin-top: 70px;
    }
    .icon {
        margin-top: 20px;
        margin-left:20px;
        width: 25%;
        
    }
    .stuffedanimals-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        box-sizing: border-box;
        
    }

.logo {
    width:80px;
    }



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #1C0118;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*blankets and wearables subpage 1*/

.title-blankets{
    text-align: center;
    }
    .title-blanket h2 {
        margin-top: 70px;
    }
    .title-blanket img {
        width: 40%;
    }
    
    .icon6 {
        border: 10px solid #1C0118;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #264027;
        width: 200px;
        background-color: #96ADC8;
        line-height: 1.5em;
        margin-top: 20px;
        margin-left:20px;
        width: 30%;
        grid-column: 6/10;
        grid-row: 6/7;
        
    }
    .icon7 {
        border: 10px solid #1C0118;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #264027;
        width: 200px;
        background-color: #96ADC8;
        line-height: 1.5em;
        margin-top: 20px;
        margin-left:20px;
        width: 30%;
        height: 100%;
        grid-column: 6/10;
        grid-row: 6/7;
        
    }
    .icon8 {
        border: 10px solid #1C0118;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #264027;
        width: 200px;
        background-color: #96ADC8;
        line-height: 1.5em;
        margin-top: 20px;
        margin-left:20px;
        width: 30%;
        height: 30%;
        grid-column: 6/10;
        grid-row: 6/7;
        
    }
    .icon9 {
        border: 10px solid #1C0118;
        transition: transform .5s;
        box-shadow: 5px 5px 10px #264027;
        width: 200px;
        background-color: #96ADC8;
        line-height: 1.5em;
        margin-top: 20px;
        margin-left:20px;
        width: 90%;
        height: 90%;
        grid-column: 6/10;
        grid-row: 6/7;
        
    }
    .blankets-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        box-sizing: border-box;
        
        
    }
   

    .logo {
        width:80px;
        }